/**
 * Name: Diana Dai
 */

 @import url('https://fonts.font.im/css?family=Coda|Hind+Siliguri');

body {
  width: 80%;
  margin: auto auto;
  background-color: #eeede7;
  font-family: 'Hind Siliguri', sans-serif;
}

h1, h2, h3, h4, cite, footer {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Coda', cursive;
  margin: auto auto;
}

h2 {
  background-color: #5997ac;
  color: white;
}

h3 {
  background-color: #af5166;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  background-color: #a1cbdd;
}

nav li {
    margin-right: 20px;
    cursor: pointer;
}

article {
  margin: 1em;
  background-color: #f7aec2;
  padding: 1em;
  flex: 1;
}

section div {
  display: flex;
}

footer {
  background-color: #eeede7;
}
